<div class="card blue-grey darken-1">
  <div class="card-content white-text" style="text-align:center">
    <span class="card-title"><strong>MAKE A RESERVATION</strong></span>
  </div>
</div>
<div class="card">
<div class="card-content">
  <%= render 'form' %>
</div>
</div>
